.main{padding: 20px 0;}
.header_wrap{background-color: #0d6efd; color: #fff;font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;}
.header_wrap div{padding: 0 30px;    max-width: 1200px;margin: 0 auto;}  
.editButton{text-align: right;}
.basicinfo{margin: 0 0 20px 0;}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  .header_info h3{font-size: 26px;}

  .file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #0d6efd);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    margin: 0 auto;
  }

  .file:hover + label,
  .file:focus + label {
  transform: scale(1.02);
}

.user_pic{text-align: center; margin: 0 0 20px 0;}
.user_pic img{max-width: 60%; width: 100%;border-radius: 50%;}
.username span{padding: 0 3px;}
.exp_info h3{font-size: 24px; margin: 0 0 0 0;}

.work_exp{max-width: 1200px; margin:auto; padding:20px 30px 30px;}

.work_exp h2{ padding: 30px 0 15px;
    border-bottom: 2px solid #ddd;    font-size: 28px; }
.we_btn{float: right;}    
.company{    font-size: 20px;
  font-weight: 600;
  color: #050505;     margin: 0 0 5px 0;}
.desc{font-size: 16px;}
.exp{font-size: 16px; color: #817e7e;    margin: 0 0 5px 0;}
.expaction button{margin:10px 10px 0;}
.companylogo{text-align: left; margin: 0 0 0 0;}
.companylist{margin: 0 0 20px 0;}
.expaction{text-align: right;}
.user_pic.form{margin: 0 0 20px 0;}
.user_pic.form div, .user_pic div{margin: 0 0 10px 0;}
.ant-form-item.uploadlogo{margin: 0;}
.ant-form-item.uploadlogo >div{margin: auto;}

@media screen and (max-width: 767px){
  .work_exp{padding: 20px 10px 10px;}
  .file-input label{height: 45px;}
  .header_info{margin: 30px 0 0 0;}
  .header_wrap div{padding: 0 0;text-align: center;}
  .editButton{text-align: left;}
  .header_info h3{font-size: 20px;}
  .work_exp h2{font-size: 22px;}
  .expaction button {margin: 10px 20px 0 0px;}
  .user_pic{margin-bottom: 20px;}
  .exp_info h3{font-size: 22px;}
  .expaction{text-align: left; margin: 0 0 10px 0;}
}
